
<angular-infinite-card-grid [productList]="productList"></angular-infinite-card-grid>

<!-- <div class="row mx-0">
  <div class="col-md-12">
    <div class="product-list"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown($event)"
      [scrollWindow]="true">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let product of filteredProduct;let i = index">
            <div class="product">
              <p><strong>{{ product }}</strong></p>
              <div class="carousel-container">
                <owl-carousel-o [options]="customOptions">
                  <ng-container *ngFor="let slide of count(20);let i = index">
                    <ng-template carouselSlide [id]="'slide' + i">
                      <div class="product-block" (click)="openModalWithComponent()">
                        <div class="media">
                          <img src="https://static.thenounproject.com/png/19687-200.png" />
                          <div class="add">
                            <svg width="18px" height="18px" viewBox="0 0 24 24" aria-hidden="true" fill="#43b02a"><path d="M13 5.007C13 4.45 12.552 4 12 4c-.556 0-1 .451-1 1.007V11H5.007C4.45 11 4 11.448 4 12c0 .556.451 1 1.007 1H11v5.993c0 .557.448 1.007 1 1.007.556 0 1-.451 1-1.007V13h5.993C19.55 13 20 12.552 20 12c0-.556-.451-1-1.007-1H13V5.007z"></path></svg>
                          </div>
                        </div>
                        <div class="product-info">
                          <div class="price">
                            <b>$10.40 / each</b>
                          </div>
                          <span class="mini-product">Mini Product</span>
                          <div data-radium="true" style="color: rgb(245, 130, 32);">
                            <span>
                              <svg width="18px" height="18px" viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" style="right: 5px; position: relative;">
                                <path d="M10.287 14.107l-2.233 7.327c-.448 1.47.741 2.154 1.743.944l8.907-10.751c.643-.777.18-1.732-.824-1.732h-4.167l2.233-7.33c.448-1.469-.741-2.153-1.743-.943L5.296 12.373c-.643.777-.18 1.732.824 1.732l4.167.002z"></path>
                              </svg>
                            </span>
                            <span data-radium="true" style="line-height: 18px; font-weight: bold; text-transform: uppercase;">Free Delivery</span>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
