.product {
  padding-bottom: 50px;

  .carousel-container {
    ::ng-deep {
      .owl-carousel {
        &:hover {
          .owl-nav {
            visibility: visible;
            opacity: 1;
          }
        }

        .owl-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .owl-nav {
          display: flex;
          position: absolute;
          top: 46%;
          width: 100%;
          margin: 0;
          justify-content: space-between;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.5s linear;

          [class*=owl-] {
            background-color: rgb(67, 176, 42);
            border-radius: 100%;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            &.disabled {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .product-block {
    width: 200px;
    padding: 0 20px;

    .media {
      .add {
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: 1px solid rgb(67, 176, 42);
      }
      img {
        cursor: pointer;
        display: block;
        width: 155px;
        height: 155px;
        margin: 10px auto;
      }
    }

    .mini-product {
      font-weight: 300;
    }
  }
}
