<div class="item-header modal-lg product-detail"
  [class.mobile]="showHeader"
  [ngStyle]="{'opacity': showHeader ? 1 : 0, 'transform': showHeader ? 'translate(-8px, 120px)' : 'translate(-8px, 0px)'}">
  <img src="https://www.organicauthority.com/.image/t_share/MTU5MzI5NTc0MTk0NTg3MjMy/image-placeholder-title.jpg" style="width: 88px; height: 88px;">
  <div class="left">
    <div class="breadcrumbs" style="display: flex; align-items: center;">
      <a tabindex="-1" href="walmart/departments/31554" data-bypass="false" style="color: rgb(67, 176, 42);">Eggs &amp;Dairy</a>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <a tabindex="-1" href="walmart/departments/31554/aisles/169511" data-bypass="false" style="color: rgb(67, 176, 42);">Cream &amp; Creamers</a>
    </div>
    <div class="item-name">
      International Delight Pumpkin Pie Spice Coffee Creamer
    </div>
    <div style="color: rgb(117, 117, 117);"><span class="item-size muted"><span aria-label=". 32 fl ounce">32 fl oz</span></span></div>
  </div>
  <div class="right" style="display: flex; align-items: center;">
    <div class="price">
      $3.18<span style="font-size: 13px;">&nbsp;</span>
    </div>
    <button tabindex="-1" type="button">
      <i class="fa fa-plus"></i>
      <span style="margin-right: 8px;"></span>
      Add to Cart
    </button>
  </div>
</div>
<div class="modal-body px-0">
  <div role="region" class="breadcrumbs pl-4">
    <a href="javascript:;">Meat</a>
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <a href="javascript:;">Bacon Hot Dogs &amp; Sausage</a>
    <span class="close">
      <i class="fa fa-times" (click)="bsModalRef.hide()"></i>
    </span>
  </div>
  <div class="row px-4">
    <div class="col-md-7 product-image">
      <div class="image-container">
        <div class="ic-image-zoomer">
          <lib-ngx-image-zoom
            [thumbImage]=myThumbnail
            [fullImage]=myFullresImage
            [magnification]="1"
            [enableScrollZoom]="true"
            [enableLens]="false"
          ></lib-ngx-image-zoom>
        </div>
        <a [href]="myFullresImage"
          target="_blank"
          style="background: none; position: absolute; right: 8px; bottom: 8px; height: 24px; width: 24px;">
          <img alt="" src="https://d2guulkeunn7d8.cloudfront.net/assets/icon-zoom-a0515b36c5d01b8d5820ac9cb5be9875.svg" />
        </a>
      </div>
    </div>
    <div class="col-md-5 itemModalHeader">
      <div>
        <h2 class="item-title item-title-smaller">Farmer John Classic Premium Bacon</h2>
        <div style="margin: 15px 0px;">
          <p>16 oz&nbsp;</p>
        </div>
        <div>
          <div style="display: flex;">
            <div class="item-price" style="flex: 1 1 0%; display: flex;">
              <span style="clip: rect(1px, 1px, 1px, 1px); position: absolute;">Current price:</span>
              <span class="">$4.98</span>
            </div>
            <div style="color: rgb(117, 117, 117);font-size: 14px;">$0.31 per oz</div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="rmq-132b2c13 rmq-fabd5e05 QuantityForm" style="margin-top: 20px;">
        <div style="margin-bottom: 24px;"></div>
        <label for="quantity-selector" style="color: rgb(117, 117, 117);">Quantity:</label>
        <form>
          <select id="quantity-selector" class="ic-btn ic-btn-lg ic-btn-block ic-btn-default">
            <option value="1">1 </option>
            <option value="2">2 </option>
            <option value="3">3 </option>
            <option value="4">4 </option>
            <option value="5">5 </option>
            <option value="6">6 </option>
            <option value="7">7 </option>
            <option value="8">8 </option>
            <option value="9">9 </option>
            <option value="custom">Custom Amount</option>
          </select>
          <button type="button" class="rmq-c2512bd"
            style="touch-action: manipulation; cursor: pointer; border: 1px solid transparent; border-radius: 4px; font-weight: 600; white-space: nowrap; user-select: none; -webkit-font-smoothing: antialiased; background-image: none; display: flex; align-items: center; padding-left: 16px; padding-right: 16px; font-size: 16px; height: 48px; background-color: rgb(67, 176, 42); color: rgb(255, 255, 255); justify-content: center; flex: 3 1 0%; margin-left: 8px;">
            <svg width="24px" height="24px" viewBox="0 0 24 24" aria-hidden="true" fill="currentColor"
              style="margin-right: 4px;">
              <path
                d="M13 5.007C13 4.45 12.552 4 12 4c-.556 0-1 .451-1 1.007V11H5.007C4.45 11 4 11.448 4 12c0 .556.451 1 1.007 1H11v5.993c0 .557.448 1.007 1 1.007.556 0 1-.451 1-1.007V13h5.993C19.55 13 20 12.552 20 12c0-.556-.451-1-1.007-1H13V5.007z">
              </path>
            </svg>Add to cart
          </button>
        </form>
      </div>
      <div class="rmq-1e186aac"
        style="display: flex; justify-content: space-between; font-size: 14px; margin-bottom: 32px;">
        <div style="align-self: center;">
          <span>
            <span style="color: rgb(117, 117, 117); font-weight: bold;">$10.00 cart minimum to order</span>
          </span>
        </div>
      </div>
      <div class="favourite">
        <div
          style="display: flex; flex: 1 1 0%; height: 72px; border-bottom: 1px solid rgb(238, 238, 238); padding-top: 8px; padding-bottom: 16px;">
          <button class="ic-btn-link favorite-btn" title="Save for later"
            style="flex: 1 1 0%; border: 0px; padding: 0px; margin: 0px; text-align: center; display: flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; background: none; text-decoration: none; color: rgb(67, 176, 42);">
            <i class="fa fa-heart-o"></i>Favorite
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="showSlides">
    <div class="carousel-container">
      <div class="items-list-header-wrapper">
        <div class="rmq-f1e4bcee"
          style="display: flex; justify-content: space-between; vertical-align: bottom; padding: 24px 32px;">
          <h2>Featured Products</h2>
          <div style="display: flex; margin-left: 16px;"></div>
        </div>
      </div>
      <div class="product-list" infinite-scroll [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown($event)" [scrollWindow]="true">
        <div class="carousel-container-box">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of count(20);let i = index">
              <ng-template carouselSlide [id]="'slide' + i">
                <div class="product-block">
                  <div class="media">
                    <img src="https://static.thenounproject.com/png/19687-200.png" />
                    <div class="add">
                      <svg width="18px" height="18px" viewBox="0 0 24 24" aria-hidden="true" fill="#43b02a">
                        <path
                          d="M13 5.007C13 4.45 12.552 4 12 4c-.556 0-1 .451-1 1.007V11H5.007C4.45 11 4 11.448 4 12c0 .556.451 1 1.007 1H11v5.993c0 .557.448 1.007 1 1.007.556 0 1-.451 1-1.007V13h5.993C19.55 13 20 12.552 20 12c0-.556-.451-1-1.007-1H13V5.007z">
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div class="product-info">
                    <div class="price">
                      <b>$10.40 / each</b>
                    </div>
                    <span class="mini-product">
                      <span class="full-item-name">Hormel Natural Hardwood Smoke Original Bacon</span>
                    </span>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <div class="carousel-container">
      <div class="items-list-header-wrapper">
        <div class="rmq-f1e4bcee"
          style="display: flex; justify-content: space-between; vertical-align: bottom; padding: 24px 32px;">
          <h2>Related Items</h2>
          <div style="display: flex; margin-left: 16px;"></div>
        </div>
      </div>
      <div class="product-list" infinite-scroll [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown($event)" [scrollWindow]="true">
        <div class="carousel-container-box">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of count(20);let i = index">
              <ng-template carouselSlide [id]="'slide' + i">
                <div class="product-block">
                  <div class="media">
                    <img src="https://static.thenounproject.com/png/19687-200.png" />
                    <div class="add">
                      <svg width="18px" height="18px" viewBox="0 0 24 24" aria-hidden="true" fill="#43b02a">
                        <path
                          d="M13 5.007C13 4.45 12.552 4 12 4c-.556 0-1 .451-1 1.007V11H5.007C4.45 11 4 11.448 4 12c0 .556.451 1 1.007 1H11v5.993c0 .557.448 1.007 1 1.007.556 0 1-.451 1-1.007V13h5.993C19.55 13 20 12.552 20 12c0-.556-.451-1-1.007-1H13V5.007z">
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div class="product-info">
                    <div class="price">
                      <b>$10.40 / each</b>
                    </div>
                    <span class="mini-product">
                      <span class="full-item-name">Hormel Natural Hardwood Smoke Original Bacon</span>
                    </span>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <div class="carousel-container">
      <div class="items-list-header-wrapper">
        <div class="rmq-f1e4bcee"
          style="display: flex; justify-content: space-between; vertical-align: bottom; padding: 24px 32px;">
          <h2>Often Bought with</h2>
          <div style="display: flex; margin-left: 16px;"></div>
        </div>
      </div>
      <div class="product-list" infinite-scroll [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
        (scrolled)="onScrollDown($event)" [scrollWindow]="true">
        <div class="carousel-container-box">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of count(20);let i = index">
              <ng-template carouselSlide [id]="'slide' + i">
                <div class="product-block">
                  <div class="media">
                    <img src="https://static.thenounproject.com/png/19687-200.png" />
                    <div class="add">
                      <svg width="18px" height="18px" viewBox="0 0 24 24" aria-hidden="true" fill="#43b02a">
                        <path
                          d="M13 5.007C13 4.45 12.552 4 12 4c-.556 0-1 .451-1 1.007V11H5.007C4.45 11 4 11.448 4 12c0 .556.451 1 1.007 1H11v5.993c0 .557.448 1.007 1 1.007.556 0 1-.451 1-1.007V13h5.993C19.55 13 20 12.552 20 12c0-.556-.451-1-1.007-1H13V5.007z">
                        </path>
                      </svg>
                    </div>
                  </div>
                  <div class="product-info">
                    <div class="price">
                      <b>$10.40 / each</b>
                    </div>
                    <span class="mini-product">
                      <span class="full-item-name">Hormel Natural Hardwood Smoke Original Bacon</span>
                    </span>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="details">
    <h3>Details</h3>
    <div [innerHTML]="details"></div>
  </div>
</div>
<div class="modal-footer">
  <div style="font-size: 12px; color: rgb(153, 153, 153); padding: 0px 10px;">
    <div>Product information or packaging displayed may not be current or complete. Always refer to the physical product
      for the most accurate information and warnings. For additional information, contact the retailer or manufacturer.
      *Actual weight may vary based on seasonality and other factors. Estimated price is approximate and provided only
      for reference.</div>
  </div>
</div>
