.item-header {
  transition: opacity 250ms ease-in-out 0s, transform 250ms cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
  padding: 16px 24px;
  position: fixed;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
  border-radius: 0px;
  overflow: hidden;
  z-index: 1100;
  opacity: 0;
  top: -120px;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 5px;
  height: 120px;

  &.mobile {

    @media (max-width: 767px) {
      transform: translate(0, 120px) !important;
    }
  }

  .left {
    padding-left: 16px;
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    min-width: 0px;
    justify-content: flex-start;

    .item-name {
      color: rgb(66, 66, 66);
      font-weight: bold;
      font-size: 24px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .right {
    .price {
      color: rgb(66, 66, 66);
      font-weight: bold;
      font-size: 24px;
      padding-left: 24px;
      padding-right: 24px;
    }
    button {
      touch-action: manipulation;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      font-weight: 600;
      white-space: nowrap;
      user-select: none;
      -webkit-font-smoothing: antialiased;
      background-image: none;
      display: inline-flex;
      align-items: center;
      padding-left: 32px;
      padding-right: 32px;
      font-size: 16px;
      height: 43px;
      background-color: rgb(67, 176, 42);
      color: rgb(255, 255, 255);
    }
  }
}

@media (max-width: 767px) {
  .item-header {
    .right {
      display: none !important;
    }
    .left {
      div:nth-child(3) {
        display: none !important;
      }
      .breadcrumbs {
        display: none !important;
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  color: rgb(67, 176, 42);
  font-size: 12px;

  a {
    color: rgb(67, 176, 42);
  }

  i {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 16px;
    line-height: 1;
    margin: 5px;
  }

  .close {
    position: absolute;
    right: -34px;
    top: -6px;
    opacity: 1;

    i {
      cursor: pointer;
      font-size: 26px;
      color: #ffffff;

      @media (max-width: 767px) {
        color: #7e7d7d;
      }
    }

    @media (max-width: 767px) {
      right: 10px;
      top: 4px;
    }
  }
}

.product-image {
  .image-container {
    text-align: center;
    position: relative;

    .ic-image-zoomer {
      max-height: 416px;
      max-width: 416px;
      position: relative;
      margin: 16px auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}

.itemModalHeader {
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 8px;
  }
  p {
    margin: 0px;
    font-weight: 400;
    color: rgb(142, 142, 142);
    font-size: 16px;
    line-height: 17px;
  }
  .item-price {
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;
    display: block;
  }
  form {
    display: flex !important;

    @media (max-width: 767px) {
      flex-direction: column;
     }

    select {
      color: #333;
      background-color: #fbfaf9;
      border-color: #e7e6e5;
      height: 43px;
      text-align: center;
      text-align-last: center;
      width: 100%;
      font-size: 18px;
      line-height: 1.33333;
      padding: 0px;
      flex: 2 1 0%;
      height: 48px;
      margin-bottom: 14px;
      border-radius: 4px;
      cursor: pointer;

       &:hover {
        background-color: #f0efec;
        border: 1px solid #dddcd9;
       }

       @media (max-width: 767px) {
        width: 100% !important;
        flex: unset;
        margin-left: 0 !important;
       }
    }

    button {

      @media (max-width: 767px) {
        width: 100% !important;
        flex: unset !important;
        margin-left: 0 !important;
       }
    }
  }

  .rmq-1e186aac {

    @media (max-width: 767px) {
      margin-top: 15px;
     }
  }

  .favourite {
    display: flex;
    flex-direction: column;
    color: rgb(67, 176, 42);
    margin-top: 8px;
    margin-bottom: 8px;

    i {
      font-size: 24px;
      position: relative;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      margin-right: 8px;
    }
  }
}
.carousel-container {
  padding: 24px;
  margin: 0;
  border-top: 1px solid #f0efec;
  width: 100%;

  h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    color: rgb(117, 117, 117);
  }
  .carousel-container-box {
    padding-bottom: 20px;
    ::ng-deep {
      .owl-carousel {
        &:hover {
          .owl-nav {
            visibility: visible;
            opacity: 1;
          }
        }

        .owl-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .owl-nav {
          display: flex;
          position: absolute;
          top: 46%;
          width: 100%;
          margin: 0;
          justify-content: space-between;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.5s linear;

          [class*=owl-] {
            background-color: rgb(67, 176, 42);
            border-radius: 100%;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            &.disabled {
              opacity: 0;
            }
          }
        }
      }

      .product-block {
        width: 200px;
        padding: 0 20px;

        .media {
          .add {
            display: flex;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 1px solid rgb(67, 176, 42);
          }
          img {
            cursor: pointer;
            display: block;
            width: 155px;
            height: 155px;
            margin: 10px auto;
          }
        }

        .mini-product {
          font-size: 14px;
          max-height: 55px;
          overflow: hidden;
          color: #595858;
          display: block;
          text-overflow: ellipsis;
          line-height: 1.4em;
        }
      }
    }
  }
}
.details {
  padding: 24px;
  margin: 0;
  border-top: 1px solid #f0efec;
  width: 100%;

  h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }

  ::ng-deep p {
    font-size: 14px;
  }
}
