/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.modal-lg.product-detail {
  max-width: 1248px;

  @media (max-width: 767px) {
    margin: -3px -1px;
  }
}
